<html>
    <head>
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/stylesheets/libs.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
    </head>
    <body>

        {{> menu}}

        <div class="container">
            <div class="row">
                <div class="page-header">
                    <div class="col-md-offset-1">
                        <h1>{{pageName}}</h1>
                    </div>
                </div>

                <div class="col-lg-1">
                    {{> pub_left}}
                </div>

                {{{body}}}

                <div class="col-md-offset-1 col-lg-3">
                    {{> menu_right}}
                </div>

            </div>
            {{> social}}
            <hr>
        </div>
        {{> footer}}
    </body>

    <script src="/javascripts/libs.js"></script>
    <script type="text/javascript" src="/javascripts/{{pageName}}.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
</html>