<html>
    <head>
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/stylesheets/libs.css"/>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
    </head>
    <body>

        {{> menu}}

        <div class="container">
            <div class="row">
                <div class="page-header">
                    <div class="col-md-offset-1">
                        <h1>Accueil</h1>
                    </div>
                </div>
                
                {{{body}}}

            </div>
            <hr>
        </div>
        {{> footer}}
    </body>

    <script src="/javascripts/libs.js"></script>
</html>