<div class="page-header">
    <div class="col-md-offset-1">
        <h1>Surface d'un rectangle</h1>
    </div>
</div>

<div class="col-lg-2">
    {{> pub_left}}
</div>


<div class="col-md-offset-1 col-lg-6 jumbotron">
    <div>
        \[Surface = Longueur \times Hauteur\]
    </div>
    <div>
        <form role="form">
            <div class="form-group">
                <label for="longueur">Longueur</label>
                <input type="text" class="form-control input-sm" id="longueur" placeholder="Longueur">
            </div>
            <div class="form-group">
                <label for="hauteur">Hauteur</label>
                <input type="text" class="form-control input-sm" id="hauteur" placeholder="Hauteur">
            </div>
            <div class="form-group">
                <label>Résultat</label>
                <span id="result"></span>
            </div>
        </form>
    </div>
</div>

<div class="col-lg-3">
    {{> menu_right}}
</div>

<script type="text/javascript">
    document.getElementById('longueur').addEventListener('keyup', function() {
        var longueur = parseInt(document.getElementById('longueur').value,10) || 0;
        var hauteur = parseInt(document.getElementById('hauteur').value, 10) || 0;
        var result = longueur * hauteur;
        document.getElementById('result').innerHTML = result;
    });
    document.getElementById('hauteur').addEventListener('keyup', function() {
        var longueur = parseInt(document.getElementById('longueur').value,10) || 0;
        var hauteur = parseInt(document.getElementById('hauteur').value, 10) || 0;
        var result = longueur * hauteur;
        document.getElementById('result').innerHTML = result;
    });
</script>