<html>
	<head>
		<title>{{{title}}}</title>
		<link rel="stylesheet" href="/stylesheets/main.css"/>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div class="main-wrapper">
			<div class="content-wrapper">
				{{{body}}}
			</div>
			{{> footer}}
		</div>
	</body>
	<script type="text/javascript" src="/javascripts/app.js"></script>
</html>